#body {
    background-color: rgb(237, 144, 23);
}
.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: aquamarine;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 95, 57);
}
#par {
    font-size: medium; color: rgb(238, 246, 232); font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;
}
li {font-family: Arial, Helvetica, sans-serif;
color: blanchedalmond;
font-style: oblique; padding: 1%;}

.img {width: 700px; height: auto;}


