@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: "PridaEmCooper";
    src: url(../font/Pridaemcooper-RpyMV.ttf);
}

h1 {
    font-family: "Nabla";
    
}
body {background-color: rgb(5, 116, 164);
}
h2 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    color: rgb(2, 37, 69);
}

p { color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
li {color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic
}

blockquote {font-family: "PridaEmCooper";
    color: antiquewhite;
    font-size: larger;
}