
body {background-color: blueviolet;}


img {width: 150px; height: 150px;}

h1 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
color: rgb(255, 255, 255);}
table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    width: 80%;
}
thead tr:first-child th:first-child, tbody td:first-child {width: 180px}

tbody th:first-child {text-align: left;
background-color: rgb(0, 157, 255);}
td, th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid;
}
tfoot {background-color: rgb(5, 177, 68);
text-align: center;}

.index {color: rgb(255, 255, 255);}